@use "./.././../../assets/styles/var.scss";

#container {
  height: 600px;
  width: 95vw;
  border-radius: 0 50px 50px 0;
  display: grid;
  grid-template-columns: 1fr 0.01fr;
  justify-content: space-between;
  font-size: x-large;
  border: solid 2px #f4e4a6;
  border-left: unset;
}

#datos {
  display: grid;
  grid-template-rows: 1fr 3fr 3fr;
  align-items: center;
  .area {
    padding-left: 55vw;
    padding-right: 10px;
    display: flex;
    align-items: center;
    height: 100%;
  }
  .area:first-child {
    flex-grow: 1;
    background-color: #bfc3ce;
    background-image: linear-gradient(45deg, #c3c5c4 25%, transparent 25%, transparent 75%, #c3c5c4 75%, #c3c5c4),
    linear-gradient(-45deg, #c3c5c4 25%, transparent 25%, transparent 75%, #c3c5c4 75%, #c3c5c4);
    background-size: 20px 20px;
  }
  .area:nth-child(2) {
    background-color: #d3ecf6;
    background-image: linear-gradient(45deg, #c4e8f8 25%, transparent 25%, transparent 75%, #c4e8f8 75%, #c4e8f8),
    linear-gradient(-45deg, #c4e8f8 25%, transparent 25%, transparent 75%, #c4e8f8 75%, #c4e8f8);
    background-size: 20px 20px;
  }
  .area:last-child {
    background: repeating-linear-gradient(
      0deg,
      #cce486,
      #cce486 2px,
      #bfd678 2px,
      #bfd678 4px,
    );
  }

  #caracteristicasContainer {
    padding: 20px;
    .etiqueta {
      background-color: #68bcea;
      display: inline-block;
      width: 150px;
      margin: 5px 0;
      text-align: center;
      border-radius: 4px;
      color: white;
    }
    .tipo {
      padding: 0 5px;
      margin: 0 2px;
      background-color: var.$texto;
      border-radius: 4px;
      color: white;
      font-size: medium;
    }
    p{
      color:var.$texto;
    }
  }

  #descripcionContainer {
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    background-color: #f8f7db;
    padding: 5px;
    border-radius: 15px;
    height: 80%;
    p{
      margin: 10px 5px;
      color:var.$texto;
    }
    div {
      background-color: #d6edc3;
      margin: 5px;
    }
    #descipcionPrincipio {
      border-radius: 0 8px 8px 0;
    }
    #descripcionFinal {
      border-radius: 8px 0 0 8px;
    }
  }
}

button {
  background-color: var.$principal;
  border: unset;
  cursor: pointer;
  border-radius: 0 45px 45px 0;
  img {
    height: 100px;
    transition: 0.3s;
    &:hover{
      transition-timing-function: linear;
      scale: 1.1;
    }
    &.girar {
      margin-left: auto;
      rotate: 180deg;
    }
  }
}

#backdrop{
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  z-index:-1;
}

.escondido{
  pointer-events: none;
  opacity: 0;
}
